#mapbox-panel {
}
#mapbox-panel .chart-title {
  border: medium none;
}
#mapbox-panel .chart-stage {
  height: 600px;
}
#map {
  bottom: 0;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}

#mping_table {
  height: 600px;
  overflow-y: scroll;
  font-size: 0.77em;
}

#mping_table table {
  table-layout: fixed;
}
#mping_table tr {
  border-top: 1px solid #ccc;
}
#mping_table td {
  width: 100%;
  word-wrap: break-word;
  padding: 5px;
}
