
/*
 * Full-page application style
 */

body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}


.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

.main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

.return-link, .return-link:focus, .return-link:hover {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.dust { }
.mudslide { }
.none { fill: rgb(240, 200, 8); }

.fog { fill: #fa9fb5; }
.dense-fog { fill: #f768a1; }

/* blueish green */
.drizzle { fill: #7bccc4; }
.freezing-drizzle { fill: #4eb3d3; }

/* blue */
.rain { fill: #4292c6; }
.freezing-rain { fill: #08519c; }

/* purpley */
.snow { fill: #54278f; }
.wet-snow { fill: #045a8d; }
.ice-pellets { fill: #02818a }
.ice-pellets-snow { #88419d; }
.rain-snow { fill: #0570b0; }
.rain-ice-pellets { fill: #3690c0; }

/* wind - green */
.wind, .wind-1 { fill: #a1d99b; }
.wind-2 { fill: #74c476; }
.wind-3 { fill: #41ab5d; }
.wind-4 { fill: #238b45; }
.wind-5 { fill: #006d2c; }

/* flood - red*/
.flood-1 { fill: #fc9272; }
.flood-2 { fill: #fb6a4a; }
.flood-3 { fill: #ef3b2c; }
.flood-4 { fill: #cb181d; }

.hail { fill: #4d004b; }
.graupel { fill: #810f7c; }

svg.weather-circle-icon {
  height: 9px;
  width: 9px;
}

circle.weather-circle-icon {
  fill-opacity: 0.8;
  stroke: #444;
  align: center;
}
